@media(max-width:768px) {
    .col-2{
        width:100%;
    }
    .col{
        width:100%;
    }
    .col-3{
        width:100%;
    }
    .email{
        margin-left:0px;
    }
    .header-top{
        display: none;
    }
    .main-nav{
        background:var(--primary-color);
        padding: 40px 0;
        position:sticky;
        top:0;
        z-index: 2;
        border-bottom:1px solid var(--light);
    }
    .main-nav .logo{
        display: block;
    }
    .main-nav ul{
        display: none;
    }
    .mobile-menu span{
        display: block;
    }
}
